.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropArea {
  border: 3px dashed #CCC;
  border-radius: 15px;
  padding: 15px;
  margin: 15px 0;
  text-align: center;
  font-size: 14pt;
  color: #AAA;
  cursor: pointer;
  position: relative;
}

.jumpyFile {
  animation-name: jumpyAnim;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes jumpyAnim {
  0% {
    transform: translate(0, 0);
  }
  20% { transform: translate(0, -15px); }
  40% { transform: translate(0, 0px); }
  55% { transform: translate(0, -10px); }
  70% { transform: translate(0, 0px); }
  80% { transform: translate(0, -5px); }
  90% { transform: translate(0, 0px); }

  100% {
    transform: translate(0, 0);
  }
}

.filesOverlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  
}
